body {
    background-image: url(../image/purpler.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    font-size: 100px;
    font-family: 'Averia Serif Libre', cursive;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 100px 0;
    width: calc(100% + 14px);
color: black;
    margin-top: 23vh;
    
}

/* Button styles */
a {
    font-family: 'Averia Serif Libre', sans-serif;
    text-decoration: none;
    padding: 20px 40px;
    margin: 10px;
    background-color: palevioletred;
    color: black;
    border-radius: 50px;
    border: solid 2px black;
    transition: all 0.3s ease;
}

/* Button hover effect */
a:hover {
    background-color: plum;
    color: black;
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.btn-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 75vh;
}